<!DOCTYPE html>
<html lang="en">
<head>
	<title>CS Tool</title>
</head>
<body>
    <h1>Hello Summoner!</h1>
    <h2>I need your username, region and API key</h2>
    <form action="." method="POST">
        <input type="text" name="username" placeholder="Username"> <br/>
		<select name="region">
			<option value="EUW">EUW</option>
			<option value="NA">NA</option>
		</select> <br/>
		<input type="text" name="key" placeholder="API key"> <br/>
        <input type="submit" name="request" value="Send">
    </form>
</body>
</html>
