<!DOCTYPE html>
<html lang="en">
<head>
<style>
.firstb {
    width: 100px;
	height: 50px;
	float: left;
	text-align: center;
}
.firstb > .child {
	line-height: 50px;
}

.normalb {
	border-left: 1px solid gray;
    width: 100px;
	height: 50px;
	float: left;
	text-align: center;
}
.normalb > .child {
	line-height: 50px;
}
</style>
</head>


<body>
    <h1>Hello {{ username }}!</h1>
	<h2>Here's an overview of your last 20 games</h2><br/>
	
	{% for i in range(20) %}
		<hr align="left" width="26.6%">
		<div class="firstb"; style=background-color:{{color[i]}}>
			<span class="child">{{ mode[i] }}</span>
		</div>
		<div class="normalb"; style=background-color:{{color[i]}}>
			<span class="child">{{ champion[i] }}</span>
		</div>
		<div class="normalb"; style=background-color:{{color[i]}}>
			<span class="child">{{ kills[i] }} / {{ deaths[i] }} / {{ assists[i] }}</span>
		</div>
		<div class="normalb"; style=background-color:{{color[i]}}>
			<span class="child">CS: {{ CS[i] }}</span>
		</div>
		<div class="normalb"; style=background-color:{{color[i]}}>
			<span class="child">{{ duration[i] }}</span>
		</div>
		{% if mode[i] == 'CLASSIC' %}
			<div class="normalb">
				<span class="child"> <a href="http://localhost:5000/detail{{i+1}}">More Details</a> </span>
			</div>
		{% endif %}
		<br/><br/><br>
	{% endfor %}
	
</body>
</html>
